---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero" aria-label="Section de présentation">
  <div class="hero__container">
    
    <div class="text__content">
      <h1 class="hero__title color__gradiente">KPOVIESSI Joel</h1>
      <p class="hero__text">
        Développeur Web & Designer Graphique
      </p>
      <Boton href="#about" texto="En savoir plus" />
    </div>

    <img
      class="hero__img"
      src="/img/image.png"
      alt="Portrait de KPOVIESSI Joel"
      width="384"
      height="384"
      loading="lazy"
    />
    
  </div>
</section>
