---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
  <SkillsOnTerminal />

  <div class="text-content">
    <Title contenido="Compétences" />
    <p>
      Voici un aperçu des compétences que je maîtrise le mieux. J’ai choisi de mettre en avant celles qui sont les plus pertinentes pour mon profil et les projets que je réalise.  
      Plutôt que de tout lister, je préfère me concentrer sur mes forces réelles : cela donne une image plus honnête et professionnelle.  
      D’autres compétences peuvent bien sûr être évoquées selon le contexte, notamment lors d’un échange ou d’un entretien.
    </p>
  </div>
</section>
