---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import './about.css';
---

<section id="about" class="about">
  <div class="about__container">
    <img
      class="about__img"
      src="https://www.bpocenter.com.bo/wp-content/uploads/2017/11/10.jpg"
      alt="Photo de KPOVIESSI Joel"
    />

    <div class="about__content">
      <Title margin="1rem" contenido="À propos" />
      <p class="about__text">
      Développeur full-stack et designer graphique passionné, je mets mes compétences au service de vos projets digitaux pour créer des solutions modernes, efficaces et sur mesure. Rigoureux et à l’écoute, je m’engage à comprendre vos besoins afin de vous accompagner vers le succès.  

      Fort d’une expérience variée, je combine créativité et technique pour vous offrir un travail de qualité, respectant vos délais et objectifs. Mon but : être un partenaire fiable, prêt à relever vos défis numériques.

      </p>
      <SocialIcons width="25" height="25" />
    </div>
  </div>
</section>
