---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="jojoKpvs">
	<div class="terminal__skills">
		<h2>Mes Compétences</h2>
		<div class="terminal__skills__container">
			<TerminalIcon
				src="/assets/laravel.svg"
				color="#FF2D20"
				name="Laravel"
			/>
			<TerminalIcon
				src="/assets/tailwindcss.svg"
				color="#38BDF8"
				name="Tailwind CSS"
			/>
			<TerminalIcon
				src="/assets/mysql.svg"
				color="#00758F"
				name="MySQL"
			/>
			<TerminalIcon
				src="/assets/nodejs.svg"
				color="#3C873A"
				name="Node.js"
			/>
			<TerminalIcon
				src="/assets/react.svg"
				color="#61DAFB"
				name="react.js"
			/>
			<TerminalIcon
				src="/assets/arduino.svg"
				color="#00979D"
				name="Arduino"
			/>
			
			<TerminalIcon
				src="/assets/canva.svg"
				color="#00C4CC"
				name="Canva"
			/>
			<TerminalIcon
				src="/assets/photoshop.svg"
				color="#31A8FF"
				name="photoshop"
			/>
		</div>
	</div>
</Terminal>
